body {
    margin: 1em;
}

h1 {
    text-align: center;
}

.gallery {
    position: relative;  /* for the absolute elements */
    width: 640px;
    margin: auto;
}

.main-pic {
    display: block;
}

.thumb-pic {
    display: inline-block;
    vertical-align: top;  /* the initial value creates a gap between rows */
    width: 20%;
    cursor: pointer;
}

/* filter */

.filter {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 640px;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}

button {
    position: absolute;
    top: 0px;
    left: 0px;
}
