/* main color: #55a0eb */
/* complementary color: #eb8e55 */

body {
    margin: 0;
    width: 500px;
}

h1 {
    width: 200px;
    margin: 1rem auto;
}

.inputs {
    padding: 1rem;
}

.button {
    padding: 1rem;
}

/* floats */

.left {
    float: left;
}

.right {
    float: right;
}

.input, .button {
    clear: both;
}
