* {
    box-sizing: border-box;
}

body {
    margin: 1em;
}

h1 {
    text-align: center;
}

input {
    width: 150px;
}

.input {
    line-height: 4em;
}

.button {
    padding-top: 1em;
}

button {
    width: 100%;
}

/* float */

.left { float: left; }
.right { float: right; }
.input::after {
    content: "";
    clear: both;
    display: table;
}

/* for bigger displays */

main {
    margin: 0 auto;
    max-width: 400px;
}

@media screen and (min-width: 800px) {
    html {
        font-size: 1.1em;
    }
}

/* make it pretty */

body {
    color: #222;
}

.red {
    color: #ef0026;
}

.blue {
    color: #073487;
}

button {
    color: #222;
    font-size: 0.9em;

    padding: 5px 8px;

    background-color: #c7ca00;
    border: 1px solid #7777;
    border-radius: 1em;
}
